.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand i {
  background-color: #f4bfca;
  padding: 12px;
  border-radius: 50%;
  color: white;
}
